
#primary li, #primary li.last {  

padding:0; /* set to 0 in IE fix */
}

#primary ul {

margin-bottom:6px; /*IE needs smaller */
}


 #left {
  left: 255px;           /* RC fullwidth */
}

.node-front {
height:1%; /* holy hack */
}

 
