


/*
** HTML elements
*/
body {
	margin: 0;
	padding: 0 20px 10px 20px;
	color: #333;
	font: 78% Geneva, Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-align:center; /* for IE to center container, not needed for Firefox */
	background:#fff url(img/body.png) top left repeat-x;
}

/* -------------- cms-theme styles here ---------------------- */

/*tr.odd td, tr.even td { padding: 0.3em; } */

h1, h2, h3, h4, h5, h6 { margin-bottom: 0.5em; }

h1 {
	font-size: 16pt;
	font-family:Trebuchet MS, verdana;
	width:98%;
	padding:3px 0 2px 5px;
	margin-bottom:0px;
}

h2 {
	font-size:11pt;
	font-family: trebuchet MS, verdana;
	margin-bottom:0px;
}

h3, h4, h5, h6 { font-size: 1.1em; }

.title a {
font-family:Trebuchet MS, verdana;
font-size:12pt;

}


p {
	margin-top: 0.5em;
	margin-bottom: 0.9em;
}

a:link {
	color: #2956B2;
	text-decoration:underline;
}
.node .content a {
/* font-weight:bold; */
}

a:visited {
	color: #2956B2;
	text-decoration: none;
}

#container a:hover {
	color: #FF6600;
	text-decoration: none;
	border-bottom: 1px dotted #aaa;
	background-color:#FFFF99;
	
}



fieldset { border: 1px solid #ccc; }

pre {
	background-color: #EAF4F5;
	padding: 0.75em 1.5em;
	font-size: 12px;
	border: 1px solid #ddd;
}

table { /* make <td> sizes relative to body size! */



  font-size: 1em; }

thead th {
/*	border-bottom: 2px solid #000;*/
	font-weight: bold;
}

th a:link, th a:visited { color: #D72729; }

tr.even, tr.odd, tbody th {
	border: solid #D72729;
	border-width: 1px 0;
}

tr.odd, tr.info { background-color: #EAFBC5; }

tr.even, tr.info { background-color: #F8F2E5; }

/*tr.odd, tr.info { background-color: #FFFFFF; }

tr.even { background-color: #FFFFFF; }*/


td.region, td.module, td.container {
	border-top: 1.5em solid #fff;
	border-bottom: 1px solid #b4d7f0; 
	font-weight: bold;
}

tr:first-child td.region, tr:first-child td.module, tr:first-child td.container { border-top-width: 0; }

.form-item label {
	font-size: 1em;
	color: #222;
}

.item-list .title {
	font-size: 1em;
	color: #222;
}

.links { margin-bottom: 0; }

.comment .links { margin-bottom: 0; }

/*



** Page layout blocks / IDs



*/



#header, #content { width: 100%; }




#menu {
	font-size: 11px;
	text-align: left;
	margin: auto;
	padding: 0.2em;
	vertical-align: middle
}

#search-box {
	padding: 0.2em 0.2em 0 0.2em;
	padding-bottom:0.2em;
	text-align: right;
	font-size:11px;
	vertical-align: bottom;
}



ul.links li { border-left: 1px solid #9cf; }

ul.links li.first { border: none; }

#search .form-text, #search .form-submit {
	border: 1px solid #369;
	font-size: 1.1em;
	height: 1.5em;
	vertical-align: middle;
}

#search .form-text {
	width: 8em;
	padding: 0 0.5em;
}

#mission {
	background-color: #369;
	padding: 1.5em 2em;
	color: #fff;
}

#mission a, #mission a:visited {
	color: #9cf;
	font-weight: bold;
}

.site-name {
	margin: 0.6em 0 0 0;
	padding-bottom:60px;
	padding-right:20px;
	font-size: 2em;
	padding-top:15px;
}

.site-name a:link, .site-name a:visited { color: #fff; }

.site-name a:hover {
	color: #B93D17;
	text-decoration: none;
}

.site-slogan {
	font-size: 1em;
	color: #eee;
	display: block;
	margin: 0;
	font-style: italic;
	font-weight: bold;
}

#main { /* padding in px not ex because IE messes up 100% width tables otherwise */



  padding: 10px; }

#mission, .node .content, .comment .content { line-height: 1.4em; }

#help {
	font-size: 0.9em;
	margin-bottom: 1em;
}

.breadcrumb { margin-bottom: .5em; }

.messages {
	background-color: #EAF4F5;
	border: 1px solid #ccc;
	padding: 0.3em;
	margin-bottom: 1em;
}

.error { border-color: red; }

#sidebar-left, #sidebar-right {
	background-color: #ece8d4;
	margin: auto;
	width: 16em;
	vertical-align: top
}

#footer {
	background-color: #ffffff;
	text-align:center;
	font-size: 0.8em;
}

/*



** Common declarations for child classes of node, comment, block, box, etc.



** If you want any of them styled differently for a specific parent, add



** additional rules /with only the differing properties!/ to .parent .class.



** See .comment .title for an example.



*/



.title, .title a {
	color: #25557D;
	padding: 5px 0;
	margin: 0;
	border:none;
}


.title:hover{
background:url(img/head.png) top left repeat-x;
}

.title-block, .title-block a {
	color: #fff;
	padding: 5px 8px 5px;
	margin: 0;
}

.submitted {
	color: #999;
	font-size: 0.8em;
}

.links { color: #999; }

.links a { }

.block, .box { padding: 2px }

.block-views {
/*	padding-bottom: 0.75em;
	margin-bottom: 1.5em;*/
    background:transparent url(/proxy/sites/all/themes/mwolk/img/block.png) 
}

.block .title { margin-bottom: .25em; }

.box .title { font-size: 1.1em; }

.node { margin: 0 0 2em 0; 


}
fieldset a:hover {
border-bottom:0px solid;
}

/* ------- some customizations for link -----------*/

.node-front {
position:relative;
clear:both;
}

.node-front .field-field-picture {
position:absolute;
top:5px;
left:0;
}

.node .field-field-picture {
float:left;
margin:0 10px 3px 0;

}

.field-field-link a{
color:#f26100;
font-size:17px;
font-weight:bold;
border-bottom:1px dotted #ccc;

}

.field-field-link {margin:10px 0;}



.sticky {
	padding: .5em;
	background-color: #EAF4F5;
	border: solid 1px #ddd;
}

.node .content, .comment .content { margin: .5em 0 .5em 0; }

.node .taxonomy {
	color: #999;
	font-size: 0.9em;
	padding: 2px 0 2px 18px;
	background:url(img/folder_feed.png) top left no-repeat;
	margin:3px 0 5px 0;
}

.node .taxonomy a{
	color: #360;
	}

.node .picture {
	border: 1px solid #ddd;
	float: right;
	margin: 0.5em;
}

.comment {
	border: 1px solid #abc;
	padding: .5em;
	margin-bottom: 1em;
}

.comment .title a {
	font-size: 1.1em;
	font-weight: normal;
}

.comment .new {
	text-align: right;
	font-weight: bold;
	font-size: 0.8em;
	float: right;
	color: red;
}

.comment .picture {
	border: 1px solid #abc;
	float: right;
	margin: 0.5em;
}

/*



** Module specific styles



*/



#aggregator .feed-source {
	background-color: #EAF4F5;
	border: 1px solid #ccc;
	padding: 1em;
	margin: 1em 0;
}

#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
	color: #999;
	font-style: italic;
	font-size: 0.9em;
}

#aggregator .title {
	margin-bottom: 0.5em;
	font-size: 1em;
}

#aggregator h3 { margin-top: 1em; }

#forum table { width: 100%; }

#forum td { padding: 0.5em; }

#forum td.forum, #forum td.posts { /*background-color: #EAF4F5; */}

#forum td.topics, #forum td.last-reply { /* background-color: #ddd; */} 

#forum td.container { background-color: #FFFFCC; }

#forum td.container a { color: #555; }

#forum td.statistics, #forum td.settings, #forum td.pager {
	height: 1.5em;
	border: 1px solid #bbb;
}

#forum td .name { color: #96c; }

#forum td .links {
	padding-top: 0.7em;
	font-size: 0.9em;
}

#profile .profile {
	clear: both;
	border: 1px solid #abc;
	padding: .5em;
	margin: 1em 0em;
}

#profile .profile .name { padding-bottom: 0.5em; }

.block-forum h3 { margin-bottom: .5em; }

div.admin-panel .description { color: #000; }

div.admin-panel .body { background: #ECE8D4; }

div.admin-panel h3 {
	color: #fff;
	background-color: #b93d17;
	margin: auto;
	padding: 2px
}

#rss12 { float:left; }

.space {
	padding: 2px;
	width: 100%;
	float: left
}

.wh1 {
	color:#fff;
	background-image: url(header_bg.jpg);
	height:21px;
}

.white { color:#ffffff; }

a.white123:link {
	color: #ffffff;
	border-bottom: 0px;
	background: none;
	text-decoration: none
}

a.white123:visited {
	color: #ffffff;
	border-bottom: 0px;
	background: none;
	text-decoration: none
}

a.white123:active {
	color: #ffffff;
	border-bottom: 0px;
	background: none;
	text-decoration: none
}

a.white123:hover {
	color: #ffffff;
	border-bottom: 0px;
	background: none;
	text-decoration: none
}

a.custom:link,  a.custom:visited {
	color: #065192;
	text-decoration: none;
	font-size:13px;
	font-weight:bolder;
	font-family: trebuchet MS, Times New Roman, Times, serif;
}

a.custom:hover {
	color: #065192;
	text-decoration: none;
	background: #ECE8D4;
	border-bottom: 1px solid #323232;
	font-size:13px;
	font-weight:bolder;
	font-family:trebuchet MS, Times New Roman, Times, serif;
}

a.evakoss-link:link,  a.cms-link:visited {
	color: #323232;
	text-decoration: none;
	border-bottom: 1px dotted #aaa;
}

a.cms-link:hover {
	color: #323232;
	text-decoration: none;
	background: #F8F5E5;
	border-bottom: 1px solid #aaa;
}

a.cms-link:active {
	color: #323232;
	text-decoration: none;
	background: #F8F5E5;
	border-bottom: 1px solid #aaa;
}

.page_title_size {
	font-family: "Trebuchet MS", "Times New Roman", Times, serif;
	font-weight: bold;
	font-size: 14pt;
}

/* ------------------------------- tagadelic styles -------------------------------------- */


 .level1 {
    font-size : .9em;
	color:#0053A0 !important;
	
  }
 .level2 {
    font-size : 1em;
	color:#f60 !important;
  }


 .level3 {
    font-size : 1.2em;
	color:#360 !important;
  }


 .level4 {
    font-size : 1.4em;
	color:#039 !important;
  }


 .level5 {
    font-size : 1.6em;
	font-weight:bold;
	color:#F29302 !important;
  }


 .level6 {
    font-size : 1.8em;
	color:#F29302 !important;
  }


 .level7 {
    font-size : 1.9em;
	color:#360 !important;
  }


 .level8 {
    font-size : 2.0em;
	color:#F29302 !important;
  }


 .level9 {
    font-size : 2.2em;
	color:#F29302 !important;
  }


 .level10 {
    font-size : 2.4em;
  }

/* ------------- header, logo and primary links --------------------------------------------------------------------------- */

#header {
	position:relative;
	height:67px;
	
}
#header a, #search_block a  {
border-bottom:none;
}
#header a:hover, #search_block a:hover {
background:none;
}

#logo {
	position:absolute;
	top:0px;
	left:20px;
}

#logo img {
	padding: 0;
	border: 0;
	margin:0;
}



#secondary {
	padding:0;
	margin:0;
	position:absolute;
	right:20px;
	top:10px;
	font-size:12px;
	color:#0053A0;
}

#secondary li { padding:0 6px 0 8px; }

#secondary a {
	padding: 7px 0;
	margin:0;
	font-size: 11px;
	font-weight:normal;
	color:#0053A0;
}

#secondary a:hover, #secondary a.active {
	text-decoration:underline;
	color:#FF0025;
}

#secondary ul.links li { border-left: 1px solid #0053A0;}


ul.links li { border-left: 1px solid #ccc; }
ul.links li a {margin-left:2px; }

ul.links li.first { border-left: none !important; }

ul.links li.last { padding-right:0 !important; }


#primary {
	padding:0;
	margin:0;
	margin-right: 10px;
	text-align: right;

}
#primary ul {
padding:6px 0 5px 0; /*IE need this for li padding +1px for border*/
margin-bottom:7px; /*IE needs smaller */
}

#primary li {  
border:1px solid #669700 !important;
border-bottom:none !important;
background:url(img/tab_bg.png) top left repeat-x;
margin-left:4px;
padding:5px 0px; /* set to 0 in IE fix */
}

#primary li:hover, #primary .menu-1-1-2-active, #primary .menu-1-2-2-active, #primary .menu-1-3-2-active, #primary .menu-1-4-2-active, #primary .menu-1-5-2-active, #primary .menu-1-6-2-active, #primary .menu-1-7-2-active, #primary .menu-1-8-2-active  {
background-position:0 -99px;

}

#primary a {
padding:5px 5px;
	font-size: 12px;
	font-weight:bold;
	color:#333;
	margin-left:3px; /*to equalize with li margin */
}

#primary a:hover, #primary a.active { text-decoration:underline; }



#search_block {
height:60px;
background:url(img/search_bg.png) bottom left no-repeat;
position:relative;
text-align:center;
margin-bottom:10px;
margin-top:-20px;
}





#search {

	margin:0;
	vertical-align:middle;
	padding:0;
	z-index:2;
}

#search .form-text {
	border: 1px solid #999;
	font-size:12px;
	height: 16px;
	vertical-align: middle;
	width: 300px;
	padding: 2px 4px;
	margin:0;
}

#search .form-submit {
	
vertical-align: middle;
color:#333;
text-decoration:underline;
border: 1px solid #999;
padding:2px 5px;
height: 22px;
 font-size: 12px;
 margin-left:5px;


}
#addlink {
background:url(img/add_link.png) top left;
width:93px;

height:35px;
position:absolute;
bottom:0;
right:30px;
}

/*--------------- icons -----------------------------*/
li.comment_add {
background:url(img/comment_add.png) top left no-repeat;
padding:1px 0 3px 18px !important;

}

li.node_read_more {
background:url(img/bullet_go.png) top left no-repeat;
padding:1px 0 3px 18px !important;
}

.donate {
margin-bottom:2em;
}

/*------------------------ block headers -------------------- */
.block-title {
	color:#fff !important;
	font-size:13px !important;
	height:25px !important;
	padding:3px 0 0 7px !important;
	margin:15px 0 10px 0 !important;
	background:url(img/btn_orange.png) top left no-repeat;
}

#block-user-0 .block-title {
background-image:url(img/btn_orange.png);
}

#right .block-title {
	color:#fff !important;
	font-size:13px !important;
	height:25px !important;
	padding:3px 0 0 7px !important;
	margin:15px 0 10px 0 !important;
	background:url(img/btn_grass.png) top left no-repeat;
}




/* -------------------- laout. Holy Grail layout technique is used. Do not forget to fix IE ------------------- */



#page_wrapper{
width:1000px;
padding:7px 0 0 0;
margin: 15px auto;
text-align:left;
 
}

#container {
margin-top:5px;
  padding-left: 195px;   /* LC fullwidth */
  padding-right: 195px;  /* RC fullwidth  */

}
#container .column {
  position: relative;
  float: left;
}

#center {
 padding:0;
  width: 100%;
  overflow:hidden; /*for IE only as it's not common css definition */
}
#left {
  width: 180px;          /* LC width */
  padding: 0 15px 0 0;       /* LC padding */
  right: 195px;          /* LC fullwidth + CC padding */
  margin-left: -100%;
  /* border-right:1px dotted #E0E4E7; */
  overflow-x:hidden;
}

#right {
  width: 180px;          /* RC width */
  padding: 0 0 0 15px;       /* RC padding */
  margin-right: -255px;  /* RC fullwidth + CC padding + 1 px for border*/ 
  /* border-left:1px dotted #E0E4E7; */
  overflow:hidden; /* this thing helps to get rid of layout breakdown if content is wider, than 100% */
}



#footer {
  clear: both;
}
